html,
body {
    height: 100%;
    background: #444;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-top-left-radius: 70%; 
    border-bottom-left-radius: 55%; 
    border-bottom-right-radius: 70%; 
    transform: rotate(-45deg); 
    border: 2px solid white;
    box-shadow: rgb(55, 78, 102) 0px 15px 25px -10px; 
    width: 100px; 
    height: 100px; 
    margin: 50px;
    overflow: hidden;
}

.wave {
    width: 150px;
    height: 150px;
    position: absolute;
    left: -45%;
    bottom: -130%;
    border-radius: 33%;
    transition: all 1.4s linear;
    animation: waves 2.4s linear infinite;
}

.lightblue {
    background: linear-gradient(to right,#eaecc6, #2bc0e4);
}

@keyframes waves {
    0% {
        transform: rotate(0);
        border-radius: 30%;
        /*bottom: -170px;*/
    }
    45% {
        border-radius: 39%;
    }
    100% {
        transform: rotate(360deg);
        border-radius: 30%;
        /*bottom: -80px;*/
    }
}

.hilt {
    width: 120px;
    height: 90px;
    margin-left: 35px;
    overflow: hidden;
}
